.register-form {
  display: flex !important;
  margin: auto !important;
  flex-direction: column;
  height: auto !important;
  width: 275px !important;
  text-align: center !important;

  .user-email,
  .user-name {
    margin: 10px;
    height: 20px;
    border: none;
    text-align: center;

    &.error {
      border: 1px solid red;
    }
  }

  .error-span {
    font-size: 10px;
    color:  red;
    text-align: right;
    margin-right: 10px;
  }

  .btn-submit {
    margin-top: 20px !important;
  }

  .error {
    color: red;
  }
}
