.chat {
  width: 100%;

  .workplace {
    height: 500px;

    .my-message {
      text-align: right;
    }

    .input-block {
      width: 100%;
      display: flex;
      justify-content: center;

      .users-select{
        margin-right: 40px !important;
        width: 200px !important
      }
    }
  }
}
